body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.inputWrapper {
  background-color: #e7efec;
  width: 80%;
  height: 20px;
  display: inline-block;
  font-size: 120%;
}
.wrapper {
  margin: 80px auto;
  width: 60%;
  
}
.buttonAdd {
  position: sticky;
  bottom: 0;
  background-color: #3abf88;
  border: none;
  color: white;
  padding: 13px;
  font-size: 27px;
  margin: 20px 2px;
  border-radius: 50%;
}
.formId {
  background-color: #b0d2c4;
  width: 95%;
  text-align: center;
  padding: 30px;
}
.inputCheckbox {
  height: 21px;
  width: 26px;
}
.classButtonDelete {
  margin-left: 20px;
  margin-top: 15px;
  background-color: #3abf88;
}
.classImgDelete {
  height: 30px;
}
.promptForm {
  position: fixed;
  display: inline-block;
  padding: 10px;
  width: 30%;
  border: 1px solid black;
  background: #9be6cb;
  vertical-align: middle;
  min-height: 15%;
  margin: 100px -248px;
  z-index: 6;
}

.promptFormContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
}

.coverDiv {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(197, 206, 203, 0.5);
}

.promptForm input[name="text"] {
  display: block;
  margin: 10px auto;
  width: 90%;
}
.classButtonClose {
  margin-left: 65%;
  margin-bottom: 5%;
  color: white;
  background: #3abf88;
  font-size: 125%;
}
.classButtonForm {
  margin-left: 3%;
  color: white;
  background: #3abf88;
  font-size: 125%;
}
.classSelect {
  font-size: 120%;
  width: 40%;
  background-color: #e7efec;
  display: inline-block;
  border: none;
  padding: 5px;
  margin: 5px;
}
